<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT messageBoard ANY>
<!ATTLIST messageBoard id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT projectMain ANY>
<!ATTLIST projectMain id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT comment ANY>
<!ATTLIST comment id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1080" key="116cd443-cf0d-4af1-9fd1-68bb59a209b3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-10-03T07:07:41" updateDate="2016-10-13T16:15:41" nodeName="Home" urlName="home" path="-1,1080" isDoc="" nodeType="1050" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1075" nodeTypeAlias="homePage">
    <metaDescription><![CDATA[Aarhus Web Development Cooperation er et webbureau beliggende i hjertet af Aarhus, der er drevet af kvalitetsbevidste webnørder.
Vi specialiserer os inden for intelligent webudvikling og rentabel online markedsføring.]]></metaDescription>
    <metaKeywords><![CDATA[Webudvikling, web developement]]></metaKeywords>
    <mainContent><![CDATA[<p>Aarhus Web Development Cooperation er et webbureau beliggende i hjertet af Aarhus, der er drevet af kvalitetsbevidste webnørder.<br />Vi specialiserer os inden for intelligent webudvikling og rentabel online markedsføring.</p>
<p>Vi har dokumenteret afkast, og som ægte webpionerer elsker vi at udforske morgendagens teknologier. <br />Det er din garanti for, at du får mest mulig værdi ud af din online forretning, når du samarbejder med os.</p>
<p><a data-id="1081" href="/{localLink:1081}" title="About us">Mød holdet bag Aarhus Web Development Cooperation</a></p>]]></mainContent>
    <siteTitle><![CDATA[Webbureau drevet af kvalitetsbevidste nørder]]></siteTitle>
    <footer><![CDATA[&copy; Aarhus Web Developement Cooperation 2016]]></footer>
    <homeGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "TwoColumns",
          "areas": [
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>joicjoj</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>wecwecec</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "83647192-e624-ccc0-2e7a-391490f01b1a"
        }
      ]
    }
  ]
}]]></homeGrid>
    <textPage id="1081" key="dad9af7e-f9b9-4ca8-ac65-7ada300572cf" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2016-10-03T07:11:30" updateDate="2016-10-13T16:15:00" nodeName="About us" urlName="about-us" path="-1,1080,1081" isDoc="" nodeType="1052" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1079" nodeTypeAlias="textPage">
      <metaDescription><![CDATA[Om os...]]></metaDescription>
      <metaKeywords><![CDATA[om os]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <gridLayout><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "AboutIntro",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h1>Webbureau i hjertet af Aarhus</h1>\n<p>Aarhus Web Development Cooperation er et pulserende webbureau i hjertet af Aarhus, som har etableret sig som et vækstende webbureau efter flere år som unge iværksættere i byen.</p>\n<p>Vi er webnørder, som elsker at programmere og optimere online forretning. Derfor har vi specialiseret os inden for to kerneområder: webudvikling og online markedsføring.</p>\n<p>Det betyder, at vi udvikler en lækker hjemmeside til dig, og samtidig sørger vi for at markedsføre den online, så mange potentielle kunder besøger din hjemmeside. Det giver nemlig ikke mening at have en lækker hjemmeside, hvis der ikke er nogen, der besøger den.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "1c0fb230-aa22-e8c0-d152-e5e8f0d596a7"
        },
        {
          "name": "AboutImage",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2147,
                    "image": "/media/1009/omos.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "f65ef10c-890b-8dfc-64eb-e584ec257519"
        },
        {
          "name": "AboutColumns",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h3>Made in Aarhus</h3>\n<p>Vores maskinrum ligger i Aarhus, og herfra udvikler vi alle projekter. Vi har fravalgt outsourcing og eksternt freelance-arbejde, fordi vi ønsker en 1’ klasses kultur, som gennemstrømmer hele lokomotivet.</p>\n<p>En god kultur lever kun, når besætningen kommunikerer og udlever den dagligt. Vi er stolte af at være et stærkt webbureau i Jylland.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h3>Gratis UX-Gennemgang</h3>\n<p>Bliv udvalgt til at modtage en gratis gennemgang af brugeroplevelsen på dit website.</p>\n<p><a href=\"#\" class=\"projectLink\">Deltag nu</a></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h3>Download vores brochure</h3>\n<p>Læs mere om os og se, hvilke resultater vi har opnået for vores kunder. Se også vores cases.</p>\n<p><a href=\"#\" class=\"projectLink\">Download brochure</a></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "e0896bb6-6ce8-f6d3-b421-4e4cc403d7c2"
        }
      ]
    }
  ]
}]]></gridLayout>
    </textPage>
    <projectMain id="1082" key="4a164375-1518-4d86-b3e4-261c93c2aa2b" parentID="1080" level="2" creatorID="0" sortOrder="1" createDate="2016-10-03T07:12:14" updateDate="2016-10-03T16:17:38" nodeName="Projects" urlName="projects" path="-1,1080,1082" isDoc="" nodeType="1055" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1078" nodeTypeAlias="projectMain">
      <projectItem id="1084" key="055d7c46-0157-449b-b126-d7f4ccbe3b7e" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2016-10-03T07:12:38" updateDate="2016-10-03T07:12:38" nodeName="A Project" urlName="a-project" path="-1,1080,1082,1084" isDoc="" nodeType="1056" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1076" nodeTypeAlias="projectItem" />
      <projectItem id="1086" key="e88a471f-620e-4069-9864-9aff817ea686" parentID="1082" level="3" creatorID="0" sortOrder="1" createDate="2016-10-03T07:16:51" updateDate="2016-10-10T11:43:02" nodeName="A Completed Project" urlName="a-completed-project" path="-1,1080,1082,1086" isDoc="" nodeType="1056" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1076" nodeTypeAlias="projectItem">
        <itemImage><![CDATA[1138]]></itemImage>
        <itemDescription><![CDATA[<p>Bleh</p>]]></itemDescription>
        <itemTitle><![CDATA[A Completed Project]]></itemTitle>
        <itemStatus><![CDATA[Completed]]></itemStatus>
      </projectItem>
      <projectItem id="1141" key="7ea601b6-70c5-4079-90da-b9f94932112c" parentID="1082" level="3" creatorID="0" sortOrder="2" createDate="2016-10-13T11:38:06" updateDate="2016-10-13T11:38:06" nodeName="Holckenhavn Slot" urlName="holckenhavn-slot" path="-1,1080,1082,1141" isDoc="" nodeType="1056" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1076" nodeTypeAlias="projectItem">
        <itemImage><![CDATA[1140]]></itemImage>
        <itemDescription><![CDATA[<p>Holckenhavn Slot fik redesignet deres hjemmeside. Det nye design fremhæver de flotte scener omkring slottet og favner de nyeste digitale trends.</p>
<h3>Nyt design favner smukke scener og digitale trends</h3>
<p>Det nye design til Holckenhavn Slot baserer sig på slottets vigtigste og flotteste attributter: De smukke scener såvel indendørs som udendørs. På slottets nye hjemmeside møder flere 100 års historie de nyeste digitale trends. Trends, der understøtter og formidler det smukke sceneri.</p>
<h3>Udviklet i Wordpress</h3>
<p>Designet til Holckenhavn Slot er udviklet i WordPress. WordPress er nemt at betjene - selv hvis du ikke kender til det på forhånd.</p>]]></itemDescription>
        <itemTitle><![CDATA[Holckenhavn Slot]]></itemTitle>
        <itemStatus><![CDATA[Completed]]></itemStatus>
      </projectItem>
      <projectItem id="1143" key="ffcad094-2555-47fc-88a0-61823573f02b" parentID="1082" level="3" creatorID="0" sortOrder="3" createDate="2016-10-13T13:50:34" updateDate="2016-10-13T13:52:01" nodeName="Japanskwhisky.dk" urlName="japanskwhiskydk" path="-1,1080,1082,1143" isDoc="" nodeType="1056" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1076" nodeTypeAlias="projectItem">
        <itemImage><![CDATA[1142]]></itemImage>
        <itemDescription><![CDATA[<p>Japanskwhisky.dk fik en ny hurtig hjemmeside og webshop trods grafisk tunge elementer</p>
<h3>Ny hjemmeside, webshop og blog</h3>
<p>Japanskwhisky.dk fik bygget en ny hjemmeside og webshop ud fra et design lavet af vores samarbejdspartner, DamDeluxe. Samtidig udbyggede vi hjemmesiden med en blog i tråd med det eksisterende design.</p>
<h3>Grafisk tung hjemmeside blev hurtig</h3>
<p>Japanskwhisky.dk er en rigtig niche-webshop med mange flotte grafiske elementer. Mange grafiske elementer gør hjemmesider langsomme og tunge, og derfor var vores fornemmeste opgave at gøre japanskwhisky.dk hurtig. Det lykkedes os takket være vores dygtige udvikler Martin.</p>]]></itemDescription>
        <itemTitle><![CDATA[Japanskwhisky]]></itemTitle>
        <itemStatus><![CDATA[Completed]]></itemStatus>
      </projectItem>
    </projectMain>
    <articlesMain id="1083" key="b330362a-89a5-4110-bbe7-3ce72a1ff433" parentID="1080" level="2" creatorID="0" sortOrder="2" createDate="2016-10-03T07:12:22" updateDate="2016-10-03T07:12:22" nodeName="Articles" urlName="articles" path="-1,1080,1083" isDoc="" nodeType="1053" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1072" nodeTypeAlias="articlesMain">
      <articlesItem id="2143" key="a4e6fb17-f9b8-46e0-9477-1adefa9cd32a" parentID="1083" level="3" creatorID="0" sortOrder="0" createDate="2016-10-13T14:52:44" updateDate="2016-10-13T14:52:44" nodeName="Optimizing Your Web Page for Speed" urlName="optimizing-your-web-page-for-speed" path="-1,1080,1083,2143" isDoc="" nodeType="1054" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1071" nodeTypeAlias="articlesItem">
        <metaDescription><![CDATA[Optimizing Your Web Page for Speed]]></metaDescription>
        <metaKeywords><![CDATA[Optimizing Your Web Page for Speed]]></metaKeywords>
        <articleImage><![CDATA[2142]]></articleImage>
        <articleHeadline><![CDATA[Optimizing Your Web Page for Speed]]></articleHeadline>
        <articleContent><![CDATA[<p>We’ve all had it happen – that web page that you navigate to, and you can’t hardly interact with the page for a full 10 seconds because images are still loading, or you can’t scroll down because Javascript is still executing, etc. These are what we call unoptimized web sites, and they’re a scourge among the internet. The good news is that it’s relatively simple to optimize your web page and allow it to load practically instantaneously – or at the very least, not hamper the interaction for your users while you’re waiting for larger files to fully download. Keep following along – I’m about to show you how to do it.</p>
<p><strong>Note:</strong> This post covers shrinking your web page’s overall payload so that it loads quicker, and nothing related to Search Engine Optimization. If you’re looking for SEO – the internet has a plethora of other posts about this topic.</p>
<h3>Optimizing Images</h3>
<p>Shrinking the payload of your images is the biggest way that you can help to optimize your</p>
<p>web site. Let’s say that you snap a photo with your mobile phone and you want to put it online. That image from your phone easily sits at about 4MB initially – and there’s no way you can put that on your website (especially if it just needs to be a thumbnail!). You might be thinking “but that’s what I do with Facebook and Instagram!” – but they have image optimization built into their services that fires when you upload the image, because they don’t want to house those large images either.</p>
<p><em>The image below was a 2 MB screenshot at first – now it’s just 20 KB!</em></p>
<p>Another thing you might be thinking is that you don’t want to degrade the quality of your images by shrinking their size – and truth be told, that’s just not a real concern. It’s true that when you shrink your image sizes, you will lower the quality of your images, but if you’re uploading a 3000 x 4000 pixel image to your website and your site naturally shrinks it down to 300 x 400 pixels anyway – then you’re losing quality already without saving yourself any of that payload size.</p>
<p>To optimize your images, there are 3 things you can do:</p>
<p>- Crop your image to a size that you actually plan to show it at on your site<br /> - Re-save the image at about 60 – 70% quality (you won’t notice the difference) using a tool like Photoshop or Gimp<br /> - Use a non-lossy image optimization tool such as ImageOptim<br /> - By following these 3 procedures, you can easily bring a 4MB image down to under 150KB – or even far less if the image is smaller on your site!</p>
<h3>Minimize &amp; Concatenate your CSS &amp; JS</h3>
<p>If you’re unfamiliar with these concepts, minimizing means running your CSS and JS through a tool which goes through your code and moves it all to just one line, removes extra white space, shortens variable names, and a slew of other optimization techniques to shrink your file size. Minimizing your files can easily cut their payload in half – and it doesn’t affect how your users interact with your site at all.</p>
<p>You only want to minimize your production files – because developing minimized files is near impossible. To help with this, I encourage you to look into a build automation tool such as Gulp or Grunt to make your life easier. For JS, you can use gulp-uglify, and for CSS there’s gulp-minify-css (similar libraries available for Grunt and other build automation systems). Going further for CSS, there’s also gulp-uncss which will strip out any CSS you have from your production files that’s not actually used in your web site. It doesn’t get much better than that!</p>
<p>On top of minification, you should concatenate your CSS and JS files so that your users’ browsers only need to download the minimum number of files for your site. Using Sass makes CSS concatenation nice and simple because you can include all your other Sass files into one main file via the @import command, but native JS concatenation is a little more difficult. The new ES6 spec supports Javascript modules so that you can include all of your JS files into a main file, just like we talked about with Sass, but ES6 doesn’t have near enough browser support yet. You can make this better with Babel, or if you want to stick with pure ES5, you can use Browserify which allows you to write CommonJS-style modules.</p>
<p>Still – none of this accounts for external libraries you include such as jQuery or Lodash, which are normally just loaded into the global scope of a web page. To get the most code-supportive practice of concatenating JS files (and CSS files, if you’re not using Sass), you should use a build automation plugin such as gulp-concat where you specify exactly which files you want to concatenate, and it just appends the code one after another into a new file.</p>
<p>Easy peasy.</p>
<h3>Limit Web Fonts</h3>
<p>Just like images, CSS, and JS, fonts are also a resource that count towards your page’s overall size – and if you overload your site on fonts, then you might have a problem. Services like Google Fonts and Adobe Typekit have become pretty traditional ways of adding fonts to your website – and each of them allows you to select certain versions of fonts to use, such as bold, italic, semibold, bolditalic, light, etc. Each version of a font has to be downloaded by the browser, and the vast majority of times you don’t need every version of a font. I strongly, strongly encourage you to select exactly which font forms you need instead of selecting them all. Being choosey with your fonts could mean the difference between adding 50KB and 500KB of extra weight to your page from fonts.</p>
<h3>Use Caching</h3>
<p>Last but not least, make sure you establish a cache policy for your website. This can be handled a number of different ways depending on whether you use nginx or apache, and if you’re serving up a dynamic site, then there’s a good chance your CMS or language framework supports forms of both client-side and server-side caching (such as WP Super Cache for WordPress).</p>
<p>This topic can get pretty extensive, and if you want to dig deeper into how caching actually works and how to start establishing a stable cache policy, I encourage you to check out my post over How Browser Caching Works.</p>
<h3>Final Thoughts</h3>
<p>Building an optimized web page these days is incredibly important – especially with mobile phone browsing becoming much more prevalent; after all, you can imagine how annoying it must be for your users to sit and watch while your web page loads – especially if you know you can make it better. There are some users (especially in non-first-world countries) which have a very low monthly data cap too, and if your web site alone takes up 10% of that whole data cap – then that’s just a big no-no.</p>
<p>If it’s your first time really thinking about page optimization, then don’t rush things. Go through this post slowly and build a development process for yourself that you can use for all future projects you work on. After you build one or two sites following these practices, it becomes second nature to optimize everything on your site as you build it – and you may even find ways to optimize your site that we didn’t discuss here (such as uploading videos on YouTube and embedding them on your site, instead of playing them directly through your website).</p>
<p>Thanks for reading, and I hope this post helped to open the doors for you on how you can start optimizing your web pages!</p>]]></articleContent>
      </articlesItem>
      <articlesItem id="2145" key="01b65f6d-6199-4679-b1d0-4e7583af8a97" parentID="1083" level="3" creatorID="0" sortOrder="1" createDate="2016-10-13T14:57:45" updateDate="2016-10-13T14:57:45" nodeName="The Web is not Fashionable" urlName="the-web-is-not-fashionable" path="-1,1080,1083,2145" isDoc="" nodeType="1054" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1071" nodeTypeAlias="articlesItem">
        <articleImage><![CDATA[2144]]></articleImage>
        <articleHeadline><![CDATA[The Web is not Fashionable]]></articleHeadline>
        <articleContent><![CDATA[<h2>or: How I Learned to Love the Web</h2>
<p>Note: This article is written outside of my role as Developer Advocate for Samsung Internet but that is where I come from.</p>
<p><a rel="nofollow" href="https://hackernoon.com/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f#.bryjt5npk" target="_blank" data-href="https://hackernoon.com/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f#.bryjt5npk">An article was recently published</a> and raised an interesting problem ‘how does a front end developer learn JavaScript today?’ It’s a nuanced problem and like many nuanced issues leads to many flame wars on twitter.</p>
<p>What do we mean by this question and why ‘today’, how has it changed?</p>
<p>When I began &lt;b&gt; &lt;i&gt; &lt;center&gt; and &lt;table&gt; ruled the roost. There wasn’t a huge amount to learn.</p>
<p>The web has grown in complexity over the years. The web faces pressures to grow for a number of reasons:</p>
<ul>
<li>Trying to compete with or replace existing media platforms such as scientific literature, newspapers, books, radio, tv, mobile apps, virtual reality.</li>
<li>Trying to fix where existing users of the web are not being served optimally by our existing best practises.</li>
<li>As we learn more about how the web is being used we change what we do to reflect how our users do it and push for new modes of communication to assist them.</li>
<li>Discovery of best practises. E.g. For performance (network and animation), accessibility and new mediums such as mobile and VR has shaped the the goals for our tooling.</li>
</ul>
<p>The flexibility of the web and the strong cross device compatibility between browsers allows us to shape the web as we see fit through tooling, frameworks and libraries.</p>
<p>The the state of the native web today reflects the community’s needs of yesterday. The state of the community’s development efforts reflects the needs of today, which the web as it is often falls short on.</p>
<h4>The Web is unfashionable</h4>
<blockquote><em>“Oh my god no, no one uses … anymore. You should try learning …, it’s 2016”</em></blockquote>
<p>Usually by the time the browser manufacturers &amp; standards bodies have implemented those needs the community has moved on to solving different problems. This is not a bad thing.</p>
<p>The Web cannot be in fashion as by it’s nature it reflects the needs of yesterday. The solutions chosen for the <strong>world wide</strong> web have to work for everyone.</p>
<p>Web standards are like the Definitions in the Oxford English dictionary; they are rarely pulled from thin air or on a whim. They usually arise to reflect what people are already doing in the web.</p>
<p>A lot of thought goes into them. Then very smart people (I have met some they are pretty fucking smart, and they stand their ground) argue about why they are a terrible idea due to security/privacy/accessibility/extensibility/implementability/performance issues. Discussions go back and forth for a long period of time but eventually you get a new standard (sometimes you don’t 😞 because those issues cannot be resolved.) In the meantime browsers will try out new APIs under flags to see if they work in the real world (sometimes they disappear.)</p>
<p>But even if these features are still in draft or haven’t yet been implemented you can still use them using Polyfills.</p>
<p>Polyfills are features backported to browsers from the future to allow them to experience future APIs now on a wide range of browsers. Some examples:</p>
<ul>
<li>This<a rel="nofollow" href="https://github.com/mozdevs/mediaDevices-getUserMedia-polyfill" target="_blank" data-href="https://github.com/mozdevs/mediaDevices-getUserMedia-polyfill"> getUserMedia polyfill</a> will remove the need for prefixes and standardise all browsers on a modern promise based syntax not even some current browser versions come with.</li>
<li>The<a rel="nofollow" href="https://polyfill.io/v2/docs/" target="_blank" data-href="https://polyfill.io/v2/docs/"> FT’s Polyfill Service</a> provides a wide range of newer JavaScript language methods and some browser apis to be supplied dynamically with support back to IE7.</li>
<li>They can also be used to experiment with upcoming APIs which have limited availability such as the <a rel="nofollow" href="https://github.com/borismus/webvr-polyfill" target="_blank" data-href="https://github.com/borismus/webvr-polyfill">WebVR polyfill</a></li>
</ul>
<p>Of course not all features can be polyfilled. Language syntax features such as fat arrows ‘=&gt;’ the exponent operator ‘**’ or the rest operator ‘…’ are very difficult to polyfill. Lower level APIs are also difficult to polyfill such as HTTP2 support or GamePad API support.</p>
<p>I feel there is an implicit deal in the relationship between developers and standards bodies &amp; browsers vendors. The APIs which will be developed will be extensible and general so that the needs of yesterday do not constrain the innovation of tomorrow. With the intent that these future standards get tried in the real world behind flags and developers feed back into the standards process.</p>
<p>Polyfills do have performance penalties in comparison to the native APIs but I think that is okay. Progressive enhancement means that it is okay to give an experience with fewer bells and whistles on less modern platforms as long as your content still works.</p>
<p>Because at the end of the day content will always be king in the web.</p>
<h4>How does one work in a Webby mindset</h4>
<p>A good website in my mind has a number of features:</p>
<ul>
<li>Robust on the Network</li>
<li>Progressive Enhancement</li>
<li>Accessible</li>
<li>Responsively Designed</li>
</ul>
<p>Semantic HTML, markup which behaves how it is written, styled simply with CSS is all of the above by default. If the network fails partway through you will still get all the content. Increased complexity can cause one to move away from semantic HTML, forcing one to reimplement these features or lose them entirely.</p>
<p>The worst case of this is an entirely framework-based web page showing no content when the network fails.</p>
<p>This unfortunately is at odds with the extensible web. One of the goals of the extensible web is to provide lower level APIs which not every developer needs to learn how to use. The community can provide libraries to make the most of the newer web features.</p>
<p>Each additional library or framework is another potential asset which may fail to arrive and a risk that the user receives no content.</p>
<p>This is where the importance of progressive enhancement comes in. If the pure HTML document that comes down from the server can provide all the content on its own then any failed assets only results in a degraded experience instead of no content what so ever.</p>
<p>I fear many developers today are learning the web by learning frameworks or just JavaScript when HTML itself has lots of power and usefulness. By learning HTML as deeply as learning JavaScript and CSS one can take advantage of HTML’s power to gain built-in robustness/accessibility/progressive enhancement.</p>
<p>By having ‘progressive enhancing assets’, js/css, which can work independently of each other you can have some features fail and the user may not even notice as the other features are still there.</p>
<p>This may seem like it will cause network performance issues because historically the perceived wisdom has been to bundle assets together. By making use of HTTP2 as a progressive enhancement multiple files from the same origin becomes less of an issue. You can also take advantage of the increased granularity to perform smarter cache invalidation allowing a reduced total network load so cheaper and more reliable for your users.</p>
<p>It is okay to use libraries and frameworks, the point of the extensible web is to allow developers to make APIs more accessible to developers or provide sensible patterns. On the other hand don’t forget to checkout what the web has already. Instead of going straight to JQuery I like to use the Polyfill service to allow me to use fetch() and some of the new DOM APIs on all browsers. Such as node.before() and node.remove()</p>
<p>Polyfills are biodegradable; eventually you will stop needing them. The polyfill service doesn’t even ship polyfills to browsers which do not require them.</p>
<p>Transpiling and preprocessing:</p>
<p>Transpilers are when you write your code in one language and it is compiled into another, for example es2016+ to es5 JavaScript. Or even another language such as Python or c++!!</p>
<p>I personally have moved away from transpilers, I write es2016+ syntax where it is supported i.e. on the server and in Service Workers. I write ES5 in the web and will do for a few more years until support improves. I still use es2016+ methods everywhere by polyfilling them with the polyfill service.</p>
<p>Transpilers have a lot of use in allowing one to try out language features not yet present in the browser. I do not think transpilers will ever stop being part of popular workflows. They allow reuse of modules when writing JavaScript meant to be used on both frontend and backend.</p>
<p>I would never argue that JavaScript is perfect but it works and is pretty approachable with a wonderful enthusiastic community. It has gained lots of language features from other languages, especially the more recent versions of ECMAScript so if you are new to the language you may find some familiar patterns.</p>
<p>JavaScript’s inherent flexibility makes it a great compile target so if you like writing es2016+, typescript, coffeescript, perl, python, c#, rust, Ada, lua, brainfuck or piet. I am sure there is a transpiler out there for you but JavaScipt is pretty okay too and definitely worth learning.</p>
<h4>Final points, aka tl;dr</h4>
<p>At the end of the day content is king, make sure your content is available as widely as possible.</p>
<p>Build something you will find easy to support for the duration you have to support it, using the tools you find useful and your team can learn. By going closer to basic HTML/css/JavaScript you will have an easier onboarding process and in hiring can focus on good development practises rather than number of buzzwords in the CV.</p>
<p>Be careful not to let yourself be restrained by your tools. Choosing a very prescriptive framework may leave you locked in until the product is retired even if the framework no longer meets all your needs or stops being supported.</p>
<p>Best practises evolve with the platform and as we learn about our users be careful about the assumptions your tools are making. E.g.</p>
<ul>
<li>With HTTP2, bundling no longer gives much benefit, but bundling still has downsides we are living with today. E.g. large single page websites which need to download 2MB before a single word is displayed.</li>
<li><a rel="nofollow" href="https://speakerdeck.com/ninjanails/death-to-icon-fonts" target="_blank" data-href="https://speakerdeck.com/ninjanails/death-to-icon-fonts">Icon fonts have been shown to be terrible for accessibility.</a></li>
<li>I have seen &lt;b&gt; and &lt;i&gt; go from normal usage to anathema and back again.</li>
<li>I have seen the web go from semantic by default to messes of divs and classes and I am hopeful now we are seeing a swing back to semantic again. I saw some <a rel="nofollow" href="https://www.youtube.com/watch?v=FN3g39bnSRA&amp;index=3&amp;list=PLo3w8EB99pqJBRZU8kUrtoznwE-yyT2Yh" target="_blank" data-href="https://www.youtube.com/watch?v=FN3g39bnSRA&amp;index=3&amp;list=PLo3w8EB99pqJBRZU8kUrtoznwE-yyT2Yh">great talks on this at the recent view source conf.</a></li>
</ul>
<p>HTML has a lot of power which I don’t think is being taken advantage of. Read through MDN to checkout out what is available. You will be surprised with how widely some of the newer features are supported. The new features tend to degrade nicely and be readily accessible.</p>
<p>The Web has history. If you build with web technology it will stick around. We try not to break the web even if it means the mistakes and bad decisions we have made in the past (and will make in the future) get set in stone.</p>
<p>Give vanilla web ago. It’s not fashionable but it works<a rel="nofollow" href="http://www.warnerbros.com/archive/spacejam/movie/jam.htm" target="_blank" data-href="http://www.warnerbros.com/archive/spacejam/movie/jam.htm">.</a></p>]]></articleContent>
      </articlesItem>
    </articlesMain>
    <contactPage id="1088" key="aac3f9a1-37e9-4f2b-9cad-18764f4b69e3" parentID="1080" level="2" creatorID="0" sortOrder="3" createDate="2016-10-03T09:38:01" updateDate="2016-10-13T16:14:45" nodeName="Contact Us" urlName="contact-us" path="-1,1080,1088" isDoc="" nodeType="1087" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1073" nodeTypeAlias="contactPage">
      <metaDescription><![CDATA[Contact us here!]]></metaDescription>
      <metaKeywords><![CDATA[contact comment]]></metaKeywords>
    </contactPage>
    <messageBoard id="1116" key="4da09ffc-ab80-469c-9fae-2323dd70143d" parentID="1080" level="2" creatorID="0" sortOrder="4" createDate="2016-10-03T13:35:19" updateDate="2016-10-13T16:14:34" nodeName="Message Board" urlName="message-board" path="-1,1080,1116" isDoc="" nodeType="1110" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1115" nodeTypeAlias="messageBoard">
      <metaDescription><![CDATA[This is our message board.]]></metaDescription>
      <metaKeywords><![CDATA[contact messages comments]]></metaKeywords>
      <messageBoardTitle><![CDATA[Message Board]]></messageBoardTitle>
      <messageBoardDescription><![CDATA[This message board contains comments and messages from our users. You are very welcome to post a comment using the form below!]]></messageBoardDescription>
      <message id="2148" key="a602b5da-f071-47e5-90b9-70a036ae6cf6" parentID="1116" level="3" creatorID="0" sortOrder="0" createDate="2016-10-13T16:12:23" updateDate="2016-10-13T16:12:23" nodeName="Hjemmeside" urlName="hjemmeside" path="-1,1080,1116,2148" isDoc="" nodeType="1101" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="0" nodeTypeAlias="message">
        <fullName><![CDATA[Hans Hansen]]></fullName>
        <body><![CDATA[Hej! Jeg er meget interesseret i jeres ydelser ift. Wordpress-løsninger. Jeg har brug for en webløsning til min nyåbnede vinforretning. Vil i kontakte mig på 22 77 65 12? ]]></body>
        <subject><![CDATA[Hjemmeside]]></subject>
        <email><![CDATA[hans@hansen.dk]]></email>
      </message>
      <message id="2149" key="0db241ef-8f5c-4a47-9c03-da39a12a8127" parentID="1116" level="3" creatorID="0" sortOrder="1" createDate="2016-10-13T16:14:05" updateDate="2016-10-13T16:14:05" nodeName="SEO" urlName="seo" path="-1,1080,1116,2149" isDoc="" nodeType="1101" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="0" nodeTypeAlias="message">
        <fullName><![CDATA[Allan Svendsen]]></fullName>
        <body><![CDATA[Hej! Jeg kunne være interesseret i at høre, hvilke SEO-relaterede løsninger i tilbyder til eksisterende sider. Mvh.]]></body>
        <subject><![CDATA[SEO]]></subject>
        <email><![CDATA[allan@allan.al]]></email>
      </message>
    </messageBoard>
    <textPage id="1129" key="296e24aa-c50f-44dc-9e5f-80ce93095a62" parentID="1080" level="2" creatorID="0" sortOrder="5" createDate="2016-10-03T15:30:40" updateDate="2016-10-13T15:11:33" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1080,1129" isDoc="" nodeType="1052" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1079" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <mainContent><![CDATA[<p>Beklager, dette indhold er låst for ikke-registrerede brugere.</p>]]></mainContent>
    </textPage>
    <textPage id="1130" key="6def6b8e-3d5a-4638-bab9-07b54953ffdb" parentID="1080" level="2" creatorID="0" sortOrder="6" createDate="2016-10-03T16:02:12" updateDate="2016-10-03T16:07:29" nodeName="Login" urlName="login" path="-1,1080,1130" isDoc="" nodeType="1052" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1128" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <mainContent><![CDATA[<p>Please log in below to view the content...</p>]]></mainContent>
    </textPage>
    <members id="1137" key="a2064086-9c00-49e0-9db5-7a271ad609b4" parentID="1080" level="2" creatorID="0" sortOrder="7" createDate="2016-10-10T11:19:19" updateDate="2016-10-10T11:21:03" nodeName="Members" urlName="members" path="-1,1080,1137" isDoc="" nodeType="1133" creatorName="Nikolaj Tjørnild" writerName="Nikolaj Tjørnild" writerID="0" template="1136" nodeTypeAlias="members" />
  </homePage>
</root>