@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var projects = CurrentPage.Site().Children.Where("DocumentTypeAlias == \"projectMain\"").First().Children.OrderBy("CreateDate descending").Take(2); }

@if (projects.Any())
{
    <h2 class="main-projects-heading">Seneste projekter</h2>
    <ul class="main-projects row">
        @foreach (var item in projects)
        {
            <li class="col-sm-6">
                <article>
                    <h3>@item.itemTitle</h3>
                    <img src="@Umbraco.Media(item.itemImage).Url">
                    <a class="projectLink" href="@item.Url">Se mere...</a>
                </article>
            </li>
        }
    </ul>
}
